// ServerInterface represents all server handlers.
type ServerInterface interface {
{{- range .}}{{$opid := .OperationId}}
{{.SummaryAsComment }}
// {{$opid}} ({{.Method}} {{.Path}})
{{- $ret := "[]byte" -}}
{{- $method := .Method | lower }}
{{- if (eq $method "delete") }}
{{- $ret = "*uhttp.ResourceDelete" -}}
{{- end }}
{{- if .GetResponseTypeDefinitions }}
{{- $t := index .GetResponseTypeDefinitions 0 -}}
{{- if or (eq $t.TypeName "JSON200") (eq $t.TypeName "JSON201") (eq $t.TypeName "JSON202") (eq $t.TypeName "JSON204") }}{{ $ret = ($t.Schema.GoType | printf "*%s") }}{{ end -}}
{{- end }}
{{- $form := "" -}}
{{- if or (eq $method "post") (eq $method "put") (eq $method "patch") }}
{{- if and (eq (len .Bodies) 0) (.Spec.RequestBody) }}
{{- $c := index .Spec.RequestBody.Value.Content "multipart/form-data" -}}
{{- if $c }}{{ $form = ", multipartForm map[string][]string" }}{{ end -}}
{{- end }}
{{- end }}
{{$opid}}(l *slog.Logger, r *http.Request{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{$opid}}Params{{end}}{{range $i, $b := .Bodies}}, body{{$i}} *{{$opid}}JSONBody{{end}}{{$form}}) ({{ $ret }}, error)
{{end}}
}

{{/*
// ServerInterface represents all server handlers.
type ServerInterface interface {
  {{range .}}{{.SummaryAsComment }}{{$opid := .OperationId}}
  // ({{.Method}} {{.Path}})
  {{.OperationId}}(w http.ResponseWriter, r *http.Request{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params *{{.OperationId}}Params{{end}}{{range $i, $b := .Bodies}}{{if eq $b.ContentType "application/json"}}, body{{$i}} *{{$opid}}JSONBody{{end}}{{end}})
  {{end}}
}
*/}}
