{{range .}}{{$opid := .OperationId}}
{{range .Bodies}}
{{$contentType := .ContentType -}}
{{with .TypeDef $opid}}
// {{.TypeName}} defines body for {{$opid}} for {{$contentType}} ContentType.
type {{.TypeName}} {{if .IsAlias}}={{end}} {{.Schema.TypeDecl}}
{{- if ne (printf "%sJSONBody" $opid) .Schema.TypeDecl }}
// Temporary inclusion of type alias for backwards compatibility
type {{$opid}}RequestBody = {{.Schema.TypeDecl}}
{{- end }}
{{end}}
{{end}}
{{end}}
